---
layout: default
---

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main" data-exif='{{ site.exif }}'>

        {% for image in site.static_files %}
        {% if image.path contains 'fulls' %}

        <article class="thumb">
            <a href="{{ site.baseurl }}{{ site.image_fulls_loc }}/{{ image.name }}" class="image">

                <img src="{{ site.baseurl }}{{ site.image_thumbs_loc }}/{{ image.name }}"
                     alt=""
                     data-name="{{ image.name }}"/>

            </a>
        </article>

        {% endif %}
        {% endfor %}

    </div>

</div>

<!-- CUSTOM FOOTER -->
<footer id="footer-custom">
    <p>Copyright © 2026 HEROVISIO</p>
</footer>
