<title>{{ site.title }}</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>

<!--[if lte IE 8]>
<script src="assets/js/ie/html5shiv.js"></script><![endif]-->

<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.min.css"/>

<!-- TU CSS PERSONAL -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom.css"/>

<!--[if lte IE 9]>
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/ie9.css"/><![endif]-->

<!--[if lte IE 8]>
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/ie8.css"/><![endif]-->

<!-- ===================== -->
<!-- GOOGLE ANALYTICS (GA4) -->
<!-- ===================== -->
{% if site.google_analytics %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.google_analytics }}');
</script>
{% endif %}

<!-- ===================== -->
<!-- MENU LIMPIO -->
<!-- ===================== -->

<nav class="main-menu">

  <ul class="menu-root">

    <li class="menu-item">
      <a href="{{ site.baseurl }}/">Home</a>
    </li>

    <li class="menu-item dropdown">
      <a href="#">Gallery ▾</a>

      <ul class="dropdown-menu">
        <li><a href="{{ site.baseurl }}/urban">Urban</a></li>
        <li><a href="{{ site.baseurl }}/people">People</a></li>
        <li><a href="{{ site.baseurl }}/animals">Animals</a></li>
        <li><a href="{{ site.baseurl }}/vegetation">Vegetation</a></li>
        <li><a href="{{ site.baseurl }}/landscapes">Landscapes</a></li>
        <li><a href="{{ site.baseurl }}/objects">Objects</a></li>
      </ul>

    </li>

    <li class="menu-item">
      <a href="{{ site.baseurl }}/about">About</a>
    </li>

  </ul>

</nav>
