<title>{{ site.title }}</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>

<!--[if lte IE 8]>
<script src="assets/js/ie/html5shiv.js"></script><![endif]-->

<link rel="stylesheet" href="assets/css/main.min.css"/>

<!--[if lte IE 9]>
<link rel="stylesheet" href="assets/css/ie9.css"/><![endif]-->

<!--[if lte IE 8]>
<link rel="stylesheet" href="assets/css/ie8.css"/><![endif]-->


<!-- ===================== -->
<!-- GOOGLE ANALYTICS GA4 -->
<!-- ===================== -->
{% if site.google_analytics %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.google_analytics }}');
</script>
{% endif %}


<!-- ===================== -->
<!-- PHOTORAMA MENU -->
<!-- ===================== -->

<nav class="main-menu">
  <ul>

    <li><a href="/">Home</a></li>

    <li class="dropdown">
      <a href="#">Gallery ▾</a>
      <ul class="dropdown-menu">
        <li><a href="/urban">Urban</a></li>
        <li><a href="/people">People</a></li>
        <li><a href="/animals">Animals</a></li>
        <li><a href="/vegetation">Vegetation</a></li>
        <li><a href="/landscapes">Landscapes</a></li>
        <li><a href="/objects">Objects</a></li>
      </ul>
    </li>

    <li><a href="/about">About</a></li>

  </ul>
</nav>
