<nav class="main-menu">

  <div class="logo">
    <a href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/images/herovisio-logo.png" alt="Herovisio">
    </a>
  </div>

  <ul>
    <li><a href="{{ site.baseurl }}/">Home</a></li>

    <li class="dropdown">
      <a href="#">Gallery</a>
      <ul class="dropdown-menu">
        <li><a href="{{ site.baseurl }}/urban">Urban</a></li>
        <li><a href="{{ site.baseurl }}/people">People</a></li>
        <li><a href="{{ site.baseurl }}/animals">Animals</a></li>
        <li><a href="{{ site.baseurl }}/vegetation">Vegetation</a></li>
        <li><a href="{{ site.baseurl }}/landscapes">Landscapes</a></li>
        <li><a href="{{ site.baseurl }}/objects">Objects</a></li>
      </ul>
    </li>

    <li><a href="{{ site.baseurl }}/about">About</a></li>
  </ul>

</nav>
